DATABASE_URL="postgresql+asyncpg://user:password@localhost:5432/mydb"
JWT_SECRET_KEY="your_secret_string"
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=mydb

REDIS_URL=redis://redis:6379/0
CACHE_TTL_SECONDS=60
RATE_LIMIT_N=60
RATE_LIMIT_T=60

WEB_CONCURRENCY=4